#div1{
    position:absolute;
	top:0;
	left:0;
	z-index:11;
	background-color:rgb(194, 194, 194);
	width:100%;
	height: auto;
    text-align:left;
}
h1{
    color: black;
    font: serif;
    
}
div{
  
    background: green;
    width: auto;
    padding: auto;
    position: relative;
    text-align: center;
    opacity: 50;
    filter: alpha(opacity=65);
    top: 0;
    left: 0;
}

body{
  
    background: white;
}

p{
    display: block;
    color: rgb(65, 65, 65);
}